.root {
  border: 1px solid;
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-md);
  overflow: hidden;

  & pre,
  & code,
  & :global(.mantine-CodeHighlightTabs-header) {
    background-color: var(--mantine-color-dark-9);
    overflow: hidden;
    font-size: var(--mantine-font-size-sm);
    font-weight: var(--mantine-h3-font-weight);
  }

  @mixin dark {
    border-color: var(--mantine-color-dark-9);
  }
}

.icon {
  margin-right: 5px;
}

.suggestedItem {
  @mixin hover {
    box-shadow: var(--mantine-shadow-xl);
  }
}

.accordinRoot {
  border-radius: var(--mantine-radius-md);
  overflow: "hidden";
}

.accordinItem {
  border: 0;
  border-color: var(--mantine-color-dark-9);
}
