.root {
  border: 1px solid var(--mantine-color-dark-5) !important;
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-md);
  overflow: hidden;

  & pre,
  & code,
  & :global(.mantine-CodeHighlightTabs-header) {
    background-color: var(--mantine-color-dark-7);
    overflow: hidden;
    font-size: var(--mantine-font-size-sm);
    font-weight: var(--mantine-h3-font-weight);
  }

  & :global(.mantine-CodeHighlightTabs-file) {
    &[data-active="true"] {
      background-color: var(--mantine-color-dark-9);
    }
  }

  & :global(.mantine-ActionIcon-root) {
    @mixin hover {
      background-color: var(--mantine-color-red-9);
      color: white;
    }
  }

  @mixin dark {
    border-color: var(--mantine-color-dark-7);
  }
}

.icon {
  margin-right: 5px;
}

.suggestedItem {
  @mixin hover {
    box-shadow: var(--mantine-shadow-xl);
  }
}

.accordinRoot {
  border-radius: var(--mantine-radius-md);
  border: 1px solid var(--mantine-color-dark-5);
  overflow: "hidden";
}

.accordinItem {
  border: 0;
  border-color: var(--mantine-color-dark-9);
}

.similarPackagesBorder {
  border-top: 1px dashed var(--mantine-color-dark-5);
}
