.control {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;
}

.control:hover {
  background-color: var(--mantine-color-gray-0);
}

@media (prefers-color-scheme: dark) {
  .control:hover {
    background-color: var(--mantine-color-dark-6);
  }
}

.searchRoot {
  height: 34px;
  padding-left: var(--mantine-spacing-sm);
  padding-right: 4px;
  border-radius: var(--mantine-radius-md);
  color: var(--mantine-color-placeholder);
  border: 1px solid;
}

@media (prefers-color-scheme: dark) {
  .searchRoot {
    border-color: var(--mantine-color-dark-4);
    background-color: var(--mantine-color-dark-6);
  }
}

.searchRoot[data-desktop] {
  display: none;
}

@media (min-width: 47.5625em) {
  .searchRoot[data-mobile] {
    display: none;
  }

  .searchRoot[data-desktop] {
    display: block;
  }
}

.shortcut {
  font-size: 11px;
  line-height: 1;
  padding: 4px 7px;
  border-radius: var(--mantine-radius-sm);
  border: 1px solid;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  .shortcut {
    color: var(--mantine-color-dark-0);
    border-color: var(--mantine-color-dark-7);
    background-color: var(--mantine-color-dark-7);
  }
}

.mobilecontrol {
  width: 34px;
  height: 34px;
  border-radius: var(--mantine-radius-md);
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  .mobilecontrol {
    border-color: var(--mantine-color-dark-4);
    color: var(--mantine-color-white);
    background-color: var(--mantine-color-dark-6);
  }

  .mobilecontrol:hover {
    background-color: var(--mantine-color-dark-5);
  }
}

.mobilecontrol[data-desktop] {
  display: none;
}

@media (min-width: 47.5625em) {
  .mobilecontrol[data-mobile] {
    display: none;
  }

  .mobilecontrol[data-desktop] {
    display: flex;
  }
}
