.global {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body.root {
  min-height: 100svh;
  font-smoothing: antialiased;
  background-color: var(--mantine-color-dark-9) !important;
  overscroll-behavior: none;
  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
}
.responsiveContainer {
  max-width: 300px;
}

@media (min-width: 400px) {
  .responsiveContainer {
    max-width: 400px;
  }
}

@media (min-width: 600px) {
  .responsiveContainer {
    max-width: 800px;
  }
}

.root[data-desktop] {
  display: none;
}

@media (min-width: 47.5625em) {
  .root[data-desktop] {
    display: block;
  }

  .root[data-mobile] {
    display: none;
  }
}

@media (max-width: 47.5em) {
  .root[data-desktop] {
    display: none;
  }

  .root[data-mobile] {
    display: block;
  }
}
